<div class="content-list">
  <h2>Movies</h2>
  <div *ngFor="let content of contents | filterIContent:'Movie'" class="movie-list">
    <app-content-item [content]="content"></app-content-item>
  </div>

  <h2>TV Shows</h2>
  <div *ngFor="let content of contents | filterIContent:'TV Show'" class="tv-show-list">
    <app-content-item [content]="content"></app-content-item>
  </div>

  <h2>Uncategorized</h2>
  <div *ngFor="let content of contents | filterIContent" class="uncategorized-list">
    <app-content-item [content]="content"></app-content-item>
  </div>
</div>
