.movie-list {
  background-color: #f0f8ff;
  color: #00008b;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.tv-show-list {
  background-color: #f5f5dc;
  color: #8b0000;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.uncategorized-list {
  background-color: #fafad2;
  color: #006400;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
